.content{
    margin-top: 65px !important;
    margin-left: 250px !important;
    margin-bottom: -75px !important;
    height: 100%;
    width: 100%;
    /*background-color: bisque;*/
}



.content-item-box{

}

.content-item{
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 10px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid rgba(0,0,0,.15);
}

.titlebar{
    background-color: rgb(249,249,249);
    padding: 15px;
    color: black;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid rgba(0,0,0,.25);
}

no-titlebar{
	border-radius: 4px 4px 0 0;
}

.module-content{
    padding: 10px;
    background-color: rgb(255,255,255);
    border-radius: 0 0 4px 4px;
}

.ui-menuitem > input {
	border: 1px solid #0AC59D;
	border-right: none;
	border-radius: 0;
	background-color: #405F6E;
	color: rgb(245,245,245);
}

.ui-menuitem > input:hover {
	border-color: #0AC59D !important;
	background-color: #405F6E !important;
}

.ui-menuitem > button:hover{
	border-color: #0AC59D !important;
	background-color: #405F6E !important;
	color: #0AC59D;
}

.ui-menuitem > button {
	border: 1px solid #0AC59D;
	border-left: none;
	border-radius: 0;
	background-color: #405F6E !important;
	color: #0AC59D;
}

.ui-menuitem > input::placeholder{
	color: rgb(235,235,235);
}

.ui-button{
	background-color: #0AC59D !important;
	border-color: #0AC59D !important;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active{
	border-color: #0AC59D !important;
    background-color: #0AC59D !important;	
}

body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active, 
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight,
body .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background-color: #0AC59D !important;
}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer{
	background-color: white !important;
}

.jqplot-axis-tick{
	backgroud-color: red !important;
	color: red !important;
}