.navbar{
    background: #285E61;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #319795, #234E52);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #319795, #234E52);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    border: 0px !important;
    height: 65px !important;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
}

.formClear{
    margin: 0px !important;
}

.navbar-component{
    height: 75px !important;
}

.ui-g-12{
    padding: 0px !important;
}


input{

}